* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo';
}

.head-img {
    background-image: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .7)), url(img/parlamentbg.jpeg);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;

}

.custom-button {
    --accent: #ffc107;
    color: white;
    text-shadow: none;
    cursor: pointer;
    line-height: 2.5rem;
    max-width: 160px;
    width: 100%;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.custom-button:hover {
    border-color: 2px solid var(--accent);
    outline-offset: 15px;
    color: var(--accent);
}
.btn{
    border: 2px solid #ffc107;
}

.service {
    box-shadow: 0 0 45px rgba(0, 0, 0, .10);
    transition: .5s;
}

.service:hover {
    background: var(--primary);
}

.service * {
    transition: .5s;
}

.service:hover * {
    color: var(--light) !important;
}
