* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo';
    /* overflow: hidden; */
}

.head-img {
    background-image: url(img/parlamentbg.jpeg);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    background-blend-mode: soft-light;
}

.custom-button {
    --accent: #ffc107;
    color: white;
    text-shadow: none;
    cursor: pointer;
    line-height: 2.5rem;
    max-width: 175px;
    width: 100%;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.custom-button:hover {
    border-color: 2px solid var(--accent);
    outline-offset: 15px;
    color: var(--accent);
}

.btn {
    border: 2px solid #ffc107;
}

.service {
    box-shadow: 0 0 45px rgba(0, 0, 0, .10);
    transition: .5s;
}

.service:hover {
    background: var(--primary);
}

.service * {
    transition: .5s;
}

.service:hover * {
    color: var(--light) !important;
}

.carousel-image {
    height: 175px;
    /* Adjust the height as needed */
    width: 100%;
    /* Ensure images take the full width of the container */
    object-fit: cover;
    /* Maintain the aspect ratio and cover the container */
}

/* .black-border{
    border: 5px solid rgb(180, 158, 158);
} */
